.App {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  text-align: left;
  padding-top: 10vh;
  font-size: 1rem;

  h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }

  form {
    width: 300px;
  }

  // submit button
  .submit {
    margin-top: 1em;
  }

}